<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc
https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.qf.repeat.controller"/>
    <!--annotation-driven:用于打开注解驱动。一般根据前缀来注册相关的注解类-->
    <!--Spring MVC中如果配置了<mvc:annotation-driven>,则所有的 Controller 就会被解析-->
    <mvc:annotation-driven>
        <!--消息转换器,有:text/html、text/plain、text/xml、application/json、application/x-www-form-urlencoded、image/png等-->
        <mvc:message-converters>
            <!--Response响应乱码：Spring配置StringHttpMessageConverter-->
            <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>
            <!--json消息转换器.MappingJackson2HttpMessageConverter:springmvc将对象转换成JSON格式的字符串输出-->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <!--实现序列化与反序列化的最核心组件:ObjectMapper类-->
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg name="pattern" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>